@font-face {
  font-family: 'TypeWrong';
  src: url('/fonts/typwrng.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-body);
  color: var(--text-main)
}

header {
  background-color: var(--background-alt);
  color: var(--text-bright);
  font-family: TypeWrong;
}

textarea {
  width: 100%;
  padding: 8px 16px;
}

label {
  display: inline-block;
  line-height: 2;
}

.container {
  padding: 0 3.61%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}